.editprofile-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    background-color: rgb(61, 60, 60);
    padding: 40px;
}

.edit-profile-pic {
    display: flex;
    gap: 20px;
    align-items: center;
}

.edit-profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
}

.edit-profile-btn {
    width: 100%;
    padding: 5px;
    height: 30px;
}

.edit-profile-details input {
    width: 100%;
}

.pro-edit-close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.edit-btns {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.cancel-btn {
    background-color: red;
    padding: 5px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn {
    background-color: rgb(0, 181, 253);
    padding: 5px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.default-icon {
    font-size: 150px;
}