.modal-text-middle {
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.middle-text {
    display: flex;
    flex-direction: column;
}

.post-modal-username {
    text-decoration: none;
    color: inherit;
}