body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container {
    display: flex;
    gap: 40px;
    align-items: center;
}

.profile-pic {
    border: 2px solid black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.home-content {
    margin-bottom: 20px;
}

.network {
    display: flex;
    flex-direction: column;
}

.network-info {
    display: flex;
    gap: 40px;
    margin-top: -30px;
}


.logo {
    margin-left: -300px;
    margin-top: -30px;
}

.about {
    border: 1px solid coral;
    border-radius: 50px 50px 50px 50px; 
    padding: 15px;
    margin-top: -5px;
    margin-left: -10px;
    letter-spacing: 0.2rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-top: 20px;
    cursor: pointer;
}

.content a {
    text-decoration: none;
    color: inherit;
}